version: '3.8'

services:
  backend:
    build:
      context: ../sentiment-analysis-application-with-external-ai-service 
      dockerfile: Dockerfile
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    environment:
      - BACKEND_URL=http://backend:8000
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge